﻿<div class="row">
    <div class="col-md-4">
        <h2>Twitter</h2>
        <p>Twitter module</p>
@if (Session["twitter"] == null)
{
        <a href="Twitter/TwitterAuth">Connect</a>
}
else
{
            <div>

                <label for="message">Message :</label>
                <input type="text" id="twitter_text"/>
                <br />
                <button id="twitter_send" class="button">Send</button>
            </div>
            <div id="twitter-back"></div>
            <img id="twitter-logo" src="https://upload.wikimedia.org/wikipedia/fr/thumb/c/c8/Twitter_Bird.svg/738px-Twitter_Bird.svg.png" />
}
    </div>
    <div class="col-md-4">
        <h2>Facebook</h2>
        <p>Facebook module</p>
@if (Session["fbauth"] != null)
{
    <a href="FaceB/Facebook_AuthorizeApplication">Connect</a>
}
else
{
    <div>
        <form class="module" name="msg" action="/FaceB/post" method="post">
            <select name="svalue">
                <option value="Text">Text</option>
                <option value="Lien">Lien</option>
                <option value="Image">Image</option>
            </select>
            <label for="message">Message :</label>
            <input type="text" id="facebook_text" name="msg"/>
            <br />
            <input type="submit" id="facebook_send" class="button" value="post"/>
            </form>
</div>
            <div id="facebook-back"></div>
    <img id="insta-logo-logged" src="https://cdn.worldvectorlogo.com/logos/facebook-3.svg" />
}
    </div>
<!--    <div class="col-md-4">
        <h2>Mail</h2>
        <p>Mail module</p>
            <div>
                <label for="message">destinataire :</label>
                <input type="text" id="mail_dest" name="dest" />
                <label for="message">Message :</label>
                <input type="text" id="mail_text" name="msg"/>
                <br />
                <input id="mail_send" class="button" type="submit" value="Send" />
            </div>

    </div>-->
</div>