﻿<div class="row">
    <div class="col-md-4">
        <h2>Twitter</h2>
        <p>Twitter module</p>
        <img id="twitter-logo" src="https://upload.wikimedia.org/wikipedia/fr/thumb/c/c8/Twitter_Bird.svg/738px-Twitter_Bird.svg.png" />
   </div>
    <div class="col-md-4">
        <h2>Facebook</h2>
        <p>Facebook module</p>
        <img id="twitter-logo" src="https://cdn.worldvectorlogo.com/logos/facebook-3.svg" />
    </div>
<!--    <div class="col-md-4">
        <h2>Mail</h2>
        <p>Mail module</p>
    </div>-->

</div>
