﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    J-WORLD<br />
    Rue Pasteur, 94270 Le Kremlin Bicêtre<br />
    <abbr title="Phone">P:</abbr>
    06.45.73.87.27
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:lucas.clemenceau@epitech.eu">lucas.clemenceau@epitech.eu</a><br />
</address>