﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Choose a module </h1>
    </div>
 @Html.Partial("../Modules/logged");
}
else
{
    <div class="jumbotron">
        <h1>Welcome to AREA </h1>
        <p class="lead">AREA is a free web social interactions platform (EPITECH project)</p>
        <p><a href="http://www.epitech.eu/" class="btn btn-primary btn-lg">Epitech</a></p>
    </div>
    @Html.Partial("../Modules/unlog");
}