﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#twitter-logo{
    width:50%;
    margin:15px;
}

#insta-logo {
    width: 40%;
    position: relative;
    top: 30px;
    left: 10px;
}

#insta-logo-logged {
    width: 40%;
    margin: 10px;
}

#slack-logo {
    width: 50%;
}

.module{
    background-color:rgba(128, 128, 128, 0.3);
    text-align : center;
    border-radius:15px;
}

.button {
    display: inline-block;
    padding: 0px 5px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #54575B;
    border: none;
    border-radius: 15px;
}

    .button:hover {
        background-color:black;
    }

    .button:active {
        background-color: black;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    #twitter-back{
        border-radius: 0px 12px 12px 12px;
        text-align:center;
    }