﻿
@{
    ViewBag.Title = "ValidateTwitterAuth";
}

<h2>Connected</h2>

<p>
   Name : @ViewBag.User.Name;<br/>
   Mail : @ViewBag.User.Email;<br />
   Description : @ViewBag.User.Description;<br />

</p>

